/* SELECTORS:


1. * {
               = select everything
} 

2. body {
               = select what you type in as body (like p or h1)
}

3. body, head {
               = select two things by adding a comma in between
}

4. #your-name h2 {
               = select the child thing of a parent group thing
               (select a specific part of a parent to
               select only a specific part like the second heading
               of the page)
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 227, 195);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(247, 204, 104);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#course-image {
  width: 300px;
}

#your-name h2 {
  color: olivedrab;
}
